.avatar {
  height: 50px;
  width: 50px;
  position: relative;
}
.avatarImage {
  object-fit: cover;
  border-radius: 50px;
}
.authorAndDate {
  display: flex;
  align-items: center;
  gap: 20px;
}
.rightImage {
  object-fit: cover;
  border-radius: 5px;
}

.user {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  gap: 5px;
}
